

#search-area{
    padding-top: 30px;
    padding-left: 30%;
    padding-bottom: 50px;
    width: 70%;

    
}
#bgColor{

}

.foodImg{
    width: 250px;
}

#mainDivFood{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    border-radius: 5%;
}

#foodDivStyle{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
/* 
#modalView{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

} */

#modalViewImg{
    width: 300px;
    
}
